---
type Props = {
  name: string;
  photoSrc: string;
  photoAlt: string;
  email: string;
  phone: string;
  show?: string;
};

const { name, photoSrc, photoAlt, email, phone, show } = Astro.props;
---

<div class="pem" aria-show={show ? "true" : "false"}>
  <div class="pem__photo">
    <img class="pem__photo_img" src={photoSrc} alt={photoAlt} />
  </div>
  <div class="pem__content">
    <h3 class="pem__name">{name}</h3>
    <h4 class="pem__heading">What motivates you?</h4>
    <slot name="motivates" />
    <h4 class="pem__heading">My #1 goal</h4>
    <slot name="goal" />
    <ul class="pem__link_list">
      <li class="pem__link_list_item">
        <a class="pem__link button button--primary" href={`mailto:${email}`}>
          Email {name}</a
        >
      </li>
      <li class="pem__link_list_item">
        <a class="pem__link pem__link--phone button" href={`tel:${phone}`}>
          Or call {phone}
        </a>
      </li>
    </ul>
  </div>
</div>
